
<div *ngIf="optimizationProps">
    <h2><span>Optimization Props</span> {{optimizationProps.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Threshold</span></dt>
        <dd>
            <span>{{optimizationProps.threshold}}</span>
        </dd>
        <dt><span>Source Event</span></dt>
        <dd>
            <span>{{optimizationProps.sourceEvent}}</span>
        </dd>
        <dt><span>Ratio Threshold</span></dt>
        <dd>
            <span>{{optimizationProps.ratioThreshold}}</span>
        </dd>
        <dt><span>Measured Event</span></dt>
        <dd>
            <span>{{optimizationProps.measuredEvent}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'optimization-props-opt-job/'+ optimizationProps.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
