<div>
    <h2>
        <span>Optimization Props</span>
        <button class="btn btn-primary float-right jh-create-entity create-optimization-props-opt-job" [routerLink]="['/', { outlets: { popup: ['optimization-props-opt-job-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Optimization Props
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="optimizationProps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="threshold"><span>Threshold</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceEvent"><span>Source Event</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ratioThreshold"><span>Ratio Threshold</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="measuredEvent"><span>Measured Event</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let optimizationProps of optimizationProps ;trackBy: trackId">
                <td><a [routerLink]="['../optimization-props-opt-job', optimizationProps.id ]">{{optimizationProps.id}}</a></td>
                <td>{{optimizationProps.threshold}}</td>
                <td>{{optimizationProps.sourceEvent}}</td>
                <td>{{optimizationProps.ratioThreshold}}</td>
                <td>{{optimizationProps.measuredEvent}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../optimization-props-opt-job', optimizationProps.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'optimization-props-opt-job/'+ optimizationProps.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'optimization-props-opt-job/'+ optimizationProps.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
