<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOptimizationPropsLabel">Create or edit a Optimization Props</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!optimizationProps.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="optimizationProps.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_threshold">Threshold</label>
            <input type="number" class="form-control" name="threshold" id="field_threshold"
                [(ngModel)]="optimizationProps.threshold" required/>
            <div [hidden]="!(editForm.controls.threshold?.dirty && editForm.controls.threshold?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.threshold?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.threshold?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sourceEvent">Source Event</label>
            <input type="text" class="form-control" name="sourceEvent" id="field_sourceEvent"
                [(ngModel)]="optimizationProps.sourceEvent" required/>
            <div [hidden]="!(editForm.controls.sourceEvent?.dirty && editForm.controls.sourceEvent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sourceEvent?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ratioThreshold">Ratio Threshold</label>
            <input type="number" class="form-control" name="ratioThreshold" id="field_ratioThreshold"
                [(ngModel)]="optimizationProps.ratioThreshold" required/>
            <div [hidden]="!(editForm.controls.ratioThreshold?.dirty && editForm.controls.ratioThreshold?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ratioThreshold?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ratioThreshold?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_measuredEvent">Measured Event</label>
            <input type="text" class="form-control" name="measuredEvent" id="field_measuredEvent"
                [(ngModel)]="optimizationProps.measuredEvent" required/>
            <div [hidden]="!(editForm.controls.measuredEvent?.dirty && editForm.controls.measuredEvent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.measuredEvent?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
