
<div *ngIf="campaignRecord">
    <h2><span>Campaign Record</span> {{campaignRecord.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Publisher</span></dt>
        <dd>
            <div *ngIf="campaignRecord.publisherId">
                <a [routerLink]="['/publisher-opt-job', campaignRecord.publisherId]">{{campaignRecord.publisherId}}</a>
            </div>
        </dd>
        <dt><span>Campaign</span></dt>
        <dd>
            <div *ngIf="campaignRecord.campaignId">
                <a [routerLink]="['/campaign-opt-job', campaignRecord.campaignId]">{{campaignRecord.campaignId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-record-opt-job/'+ campaignRecord.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
